@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,900italic|Pacifico);

html,body{
  font-family: Roboto;
  background: #FFFFFF;
  color: #5D5656;
}
section,span,a,h1,h2,h3,h4,h5{
  padding: 0px;
  margin: 0px;
}

hr{
  border: 0;
  border-top: dashed #eee;
  margin:50px 5% 50px 5%;
}

/**** splash *****/
#splash{
    background: url("../images/splash.jpeg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
}

#splash h1{
  font-size:3em;
  text-shadow: 2px 2px 1px #222;
  color:white; 
  margin-top:60px;
}

#splash h3{
  font-size:2em;
  text-shadow: 2px 2px 1px #222;
  color:white;
  margin-top:60px;
  text-align:center;
}

#logo{
  margin-top: 50px;
  height:100px;
}
#ir{
  margin:50px auto;
}
/**** splash *****/

.fusiontexto{
  position:absolute;
}
img.fusiontexto{width:100px;}
p.fusiontexto{margin:50px 5% 50px 5%;}

.jumbotron{
  padding: 20px;
  margin-bottom: 20px;
  color: inherit;
}

.remarcar{
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}

.remarcar2{
  background-color:rgb(126, 202, 173);
}

.remarcar2 h2{
  text-shadow: 2px 2px 1px #222;
  font-size:2.5em;
  color:white;
  padding: 0px 40px 0px 40px;
  margin: 80px 0 80px 0;
}

.remarcar h4{
  text-shadow: 2px 2px 1px #434343;
  color:white;
  font-size:1.5em;
  margin-bottom: 80px;
  padding: 0px 60px 0px 60px;
}

.remarcar h3{
  font-size:1em;
  color: inherit;
  background-color:#FFFFFF;
}

#inscripcion.remarcar{
  text-align:left;
}

#inscripcion iframe{
  width:90%;
  border:0
}
#inscripcion p{
  font-size:1em;
  margin-top:20px;
}
#inscripcion h3{
  font-size:1.5em;
  margin-top:20px;
}

#inscripcion{
  padding-top: 50px;
}

#forma form{
  margin-top:30px;width:60%;
}

label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 700;
}


#octogato a{
    z-index: 999999;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 166px;
    margin: 0px;
    padding: 0px
}
#octogato a:hover{
    width: 100px;
    margin-left: 66px;
    /*-webkit-transform: rotate(15deg) scale(1.4);
    transform: rotate(15deg) scale(1.4);*/
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
#octogato img{width:260px;}

/*texto*/
.txtremarca{
  font-size:1.2em;
  margin-top:10px;
  font-weight:bold;
}

#asech{width: 180px;}
#microsoft{width: 70px;}
#latam{width: 70px;}
#corfo{width: 110px;}


.list-inline {
    padding-left: 0;
    list-style: none;
    margin-left: -5px;
}

.list-inline>li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}
.list-inline>li>a>img{
  width:50px;
}

/*Media*/
@media(max-width:1000px){
  .col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10{
    width:90%;
    position: relative;
    padding: 0px;
    margin: 0px;
  }

}